*{
    background-color: rgb(59, 60, 60);
    color: white;
    padding: 0px;
    margin: 0px;
}

.header-div{
    width: 100%;
    height: 70px;
    font-size: 60px;
    position: fixed;
}

div{
    font-size: 60px;
    display: inline;
}

.elements1{
    opacity: 0;
}

.:hover ~ left-hover{
    opacity: 100;
}

* {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.cont-div {
    display: inline-block;
    height: 400px;
    width: 30%;
}

ul {
    list-style-type: none;
}