@font-face {
    font-family: 'COOPBL';
    src: url('COOPBL.TTF')  format('truetype'), /* Safari, Android, iOS */
}

* {
    color: rgb(24, 21, 21);
    padding: 0px;
    margin: 0px;
    font-family: COOPBL;
}

body{
    background-image: url(https://img.freepik.com/free-vector/frame-on-pastel-frame_53876-93719.jpg);
    background-size: 100%;
    height: 900vh;
}

.header-div {
    width: 100vw;
    display: inline-block;
    font-size: 5vw;
}

div {
    font-size: 5vw;
    display: inline;
}

* {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.cont-div {
    display: inline-block;
    height: 400px;
    width: 300px;
}

ul {
    list-style-type: none;
}

.cont-div{
    align-items: center;
    height: 1000px;
    width: 30%;
}


a{
    text-decoration: none;
}

h1{
    font-size: 70px;
}

img{
    width: 28vw;
    overflow: hidden;
    transition: transform 0.25s;
}

.anim2{
    font-size: auto;
    transition: transform 0.3s ease;
}

.anim2:hover{
    transform: scale(1.05);
}

.anim1{
    height: 90%;
    transition: transform 0.3s ease;
}

.anim1:hover{
    transform: scale(1.05);
}

.h11{
    font-size: 10vw;
}

@media screen and(max-width: 600px){
    body{
        font-size: 16px;
        line-height: 1.5;
    }

    img{
        max-width: 100%;
        height: auto;
    }

}